# Data Preprocessing

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("cars.csv")
df

,car_brand,ad_price,ad_title,ad_source,ad_url,car_color,car_model,reservoir,image
0,MERCEDES,"69,900 €",MERCEDES CLASSE S 7\nVII (2) 350 D 18CV EXECUT...,MERCEDES CLASSE S 7 VII (2) 350 D 18CV EXECUTI...,https://www.promoneuve.fr/annonce/mercedes-cla...,Noir Obsidienne metallic,CLASSE,70 L,https://image.promoneuve.fr/648x365/1761389550...
1,RENAULT,"17,790 €",RENAULT ZOE\n(2) R135 INTENS\nGris Highland mé...,RENAULT ZOE (2) R135 INTENS neuve Electrique 5...,https://www.promoneuve.fr/annonce/renault-zoe-...,Gris Highland métallisé,ZOE\n(2),NC,https://image.promoneuve.fr/648x365/3779149219...
2,RENAULT,"13,990 €",RENAULT ZOE\n(2) R110 LIFE\nBlanc Glacier opaq...,RENAULT ZOE (2) R110 LIFE neuve Electrique 5 p...,https://www.promoneuve.fr/annonce/renault-zoe-...,Blanc Glacier opaque non métallisé,ZOE\n(2),NC,https://photoref.carboatservices.fr/UkVOQVVMVA...
3,RENAULT,"15,590 €",RENAULT ZOE\n(2) R110 LIFE ACHAT INTEGRAL\nGri...,RENAULT ZOE (2) R110 LIFE ACHAT INTEGRAL neuve...,https://www.promoneuve.fr/annonce/renault-zoe-...,Gris Highland métallisé,ZOE\n(2),NC,https://image.promoneuve.fr/648x365/5782240057...
4,HONDA,"29,900 €",HONDA CR-V 5\nV 1.5 I-VTEC 193 4WD EXECUTIVE C...,HONDA CR-V 5 V 1.5 I-VTEC 193 4WD EXECUTIVE CV...,https://www.promoneuve.fr/annonce/honda-cr-v-5...,Bleu Cosmos métallisé,CR-V,57 L,https://image.promoneuve.fr/648x365/375600_STA...
...,...,...,...,...,...,...,...,...,...
854,VOLKSWAGEN,"24,260 €",VOLKSWAGEN GOLF SPORTSVAN\n(2) 1.6 TDI 115 UNI...,VOLKSWAGEN GOLF SPORTSVAN (2) 1.6 TDI 115 UNIT...,https://www.promoneuve.fr/annonce/volkswagen-g...,Noir Intense nacré,GOLF,50 L,https://image.promoneuve.fr/648x365/8195329805...
855,RENAULT,"23,290 €",RENAULT SCENIC 4\nIV 1.7 BLUE DCI 120 SL LIMIT...,RENAULT SCENIC 4 IV 1.7 BLUE DCI 120 SL LIMITE...,https://www.promoneuve.fr/annonce/renault-scen...,Peinture opaque Blanc Glacier/toit noir,SCENIC,52 L,https://image.promoneuve.fr/648x365/2528852566...
856,VOLKSWAGEN,"32,900 €",VOLKSWAGEN GOLF 7\nVII (2) 1.4 TSI 204 HYBRIDE...,VOLKSWAGEN GOLF 7 VII (2) 1.4 TSI 204 HYBRIDE ...,https://www.promoneuve.fr/annonce/volkswagen-g...,Gris Tungsten métallisé,GOLF,40 L,https://photoref.carboatservices.fr/Vk9MS1NXQU...
857,NISSAN,"25,155 €",NISSAN QASHQAI 2\nII (2) 1.5 DCI 115 BUSINESS ...,NISSAN QASHQAI 2 II (2) 1.5 DCI 115 BUSINESS E...,https://www.promoneuve.fr/annonce/nissan-qashq...,Gris Perle métallisé,QASHQAI,55 L,https://photoref.carboatservices.fr/TklTU0FO/U...
858,ALFA,"43,890 €",ALFA ROMEO GIULIA 2\nII 2.2 190 SPRINT AT8\nGr...,ALFA ROMEO GIULIA 2 II 2.2 190 SPRINT AT8 neuv...,https://www.promoneuve.fr/annonce/alfa-romeo-g...,Gris Stromboli métallisé,ROMEO,52 L,https://image.promoneuve.fr/648x365/5588908499...

In [3]:
df.describe()

,car_brand,ad_price,ad_title,ad_source,ad_url,car_color,car_model,reservoir,image
count,859,859,859,859,859,859,859,859,859
unique,26,469,672,715,859,280,125,36,698
top,RENAULT,"15,990 €",RENAULT ZOE\n(2) R110 LIFE ACHAT INTEGRAL\nBla...,RENAULT KADJAR (2) 1.3 TCE 140 FAP INTENS EDC ...,https://www.promoneuve.fr/annonce/renault-kadj...,Blanc Glacier opaque non métallisé,ZOE\n(2),NC,https://photoref.carboatservices.fr/VE9ZT1RB/U...
freq,363,16,9,10,1,35,128,258,17

In [4]:
df.reservoir = df.reservoir.apply(lambda x: int(x.replace("L","").strip()) if x != "NC" else np.nan)

In [5]:
df.fillna(df.reservoir.mean(),inplace=True)

In [6]:
df.reservoir

0      70.000000
1      55.297837
2      55.297837
3      55.297837
4      57.000000
         ...
854    50.000000
855    52.000000
856    40.000000
857    55.000000
858    52.000000
Name: reservoir, Length: 859, dtype: float64

In [7]:
df

,car_brand,ad_price,ad_title,ad_source,ad_url,car_color,car_model,reservoir,image
0,MERCEDES,"69,900 €",MERCEDES CLASSE S 7\nVII (2) 350 D 18CV EXECUT...,MERCEDES CLASSE S 7 VII (2) 350 D 18CV EXECUTI...,https://www.promoneuve.fr/annonce/mercedes-cla...,Noir Obsidienne metallic,CLASSE,70.000000,https://image.promoneuve.fr/648x365/1761389550...
1,RENAULT,"17,790 €",RENAULT ZOE\n(2) R135 INTENS\nGris Highland mé...,RENAULT ZOE (2) R135 INTENS neuve Electrique 5...,https://www.promoneuve.fr/annonce/renault-zoe-...,Gris Highland métallisé,ZOE\n(2),55.297837,https://image.promoneuve.fr/648x365/3779149219...
2,RENAULT,"13,990 €",RENAULT ZOE\n(2) R110 LIFE\nBlanc Glacier opaq...,RENAULT ZOE (2) R110 LIFE neuve Electrique 5 p...,https://www.promoneuve.fr/annonce/renault-zoe-...,Blanc Glacier opaque non métallisé,ZOE\n(2),55.297837,https://photoref.carboatservices.fr/UkVOQVVMVA...
3,RENAULT,"15,590 €",RENAULT ZOE\n(2) R110 LIFE ACHAT INTEGRAL\nGri...,RENAULT ZOE (2) R110 LIFE ACHAT INTEGRAL neuve...,https://www.promoneuve.fr/annonce/renault-zoe-...,Gris Highland métallisé,ZOE\n(2),55.297837,https://image.promoneuve.fr/648x365/5782240057...
4,HONDA,"29,900 €",HONDA CR-V 5\nV 1.5 I-VTEC 193 4WD EXECUTIVE C...,HONDA CR-V 5 V 1.5 I-VTEC 193 4WD EXECUTIVE CV...,https://www.promoneuve.fr/annonce/honda-cr-v-5...,Bleu Cosmos métallisé,CR-V,57.000000,https://image.promoneuve.fr/648x365/375600_STA...
...,...,...,...,...,...,...,...,...,...
854,VOLKSWAGEN,"24,260 €",VOLKSWAGEN GOLF SPORTSVAN\n(2) 1.6 TDI 115 UNI...,VOLKSWAGEN GOLF SPORTSVAN (2) 1.6 TDI 115 UNIT...,https://www.promoneuve.fr/annonce/volkswagen-g...,Noir Intense nacré,GOLF,50.000000,https://image.promoneuve.fr/648x365/8195329805...
855,RENAULT,"23,290 €",RENAULT SCENIC 4\nIV 1.7 BLUE DCI 120 SL LIMIT...,RENAULT SCENIC 4 IV 1.7 BLUE DCI 120 SL LIMITE...,https://www.promoneuve.fr/annonce/renault-scen...,Peinture opaque Blanc Glacier/toit noir,SCENIC,52.000000,https://image.promoneuve.fr/648x365/2528852566...
856,VOLKSWAGEN,"32,900 €",VOLKSWAGEN GOLF 7\nVII (2) 1.4 TSI 204 HYBRIDE...,VOLKSWAGEN GOLF 7 VII (2) 1.4 TSI 204 HYBRIDE ...,https://www.promoneuve.fr/annonce/volkswagen-g...,Gris Tungsten métallisé,GOLF,40.000000,https://photoref.carboatservices.fr/Vk9MS1NXQU...
857,NISSAN,"25,155 €",NISSAN QASHQAI 2\nII (2) 1.5 DCI 115 BUSINESS ...,NISSAN QASHQAI 2 II (2) 1.5 DCI 115 BUSINESS E...,https://www.promoneuve.fr/annonce/nissan-qashq...,Gris Perle métallisé,QASHQAI,55.000000,https://photoref.carboatservices.fr/TklTU0FO/U...
858,ALFA,"43,890 €",ALFA ROMEO GIULIA 2\nII 2.2 190 SPRINT AT8\nGr...,ALFA ROMEO GIULIA 2 II 2.2 190 SPRINT AT8 neuv...,https://www.promoneuve.fr/annonce/alfa-romeo-g...,Gris Stromboli métallisé,ROMEO,52.000000,https://image.promoneuve.fr/648x365/5588908499...

In [8]:
df["ad_price"] = df["ad_price"].apply(lambda x: float(x.replace("€","").replace(",",".").strip())) 
df.car_model = df.car_model.apply(lambda x: x.split("\n")[0].strip())

In [9]:
df

,car_brand,ad_price,ad_title,ad_source,ad_url,car_color,car_model,reservoir,image
0,MERCEDES,69.900,MERCEDES CLASSE S 7\nVII (2) 350 D 18CV EXECUT...,MERCEDES CLASSE S 7 VII (2) 350 D 18CV EXECUTI...,https://www.promoneuve.fr/annonce/mercedes-cla...,Noir Obsidienne metallic,CLASSE,70.000000,https://image.promoneuve.fr/648x365/1761389550...
1,RENAULT,17.790,RENAULT ZOE\n(2) R135 INTENS\nGris Highland mé...,RENAULT ZOE (2) R135 INTENS neuve Electrique 5...,https://www.promoneuve.fr/annonce/renault-zoe-...,Gris Highland métallisé,ZOE,55.297837,https://image.promoneuve.fr/648x365/3779149219...
2,RENAULT,13.990,RENAULT ZOE\n(2) R110 LIFE\nBlanc Glacier opaq...,RENAULT ZOE (2) R110 LIFE neuve Electrique 5 p...,https://www.promoneuve.fr/annonce/renault-zoe-...,Blanc Glacier opaque non métallisé,ZOE,55.297837,https://photoref.carboatservices.fr/UkVOQVVMVA...
3,RENAULT,15.590,RENAULT ZOE\n(2) R110 LIFE ACHAT INTEGRAL\nGri...,RENAULT ZOE (2) R110 LIFE ACHAT INTEGRAL neuve...,https://www.promoneuve.fr/annonce/renault-zoe-...,Gris Highland métallisé,ZOE,55.297837,https://image.promoneuve.fr/648x365/5782240057...
4,HONDA,29.900,HONDA CR-V 5\nV 1.5 I-VTEC 193 4WD EXECUTIVE C...,HONDA CR-V 5 V 1.5 I-VTEC 193 4WD EXECUTIVE CV...,https://www.promoneuve.fr/annonce/honda-cr-v-5...,Bleu Cosmos métallisé,CR-V,57.000000,https://image.promoneuve.fr/648x365/375600_STA...
...,...,...,...,...,...,...,...,...,...
854,VOLKSWAGEN,24.260,VOLKSWAGEN GOLF SPORTSVAN\n(2) 1.6 TDI 115 UNI...,VOLKSWAGEN GOLF SPORTSVAN (2) 1.6 TDI 115 UNIT...,https://www.promoneuve.fr/annonce/volkswagen-g...,Noir Intense nacré,GOLF,50.000000,https://image.promoneuve.fr/648x365/8195329805...
855,RENAULT,23.290,RENAULT SCENIC 4\nIV 1.7 BLUE DCI 120 SL LIMIT...,RENAULT SCENIC 4 IV 1.7 BLUE DCI 120 SL LIMITE...,https://www.promoneuve.fr/annonce/renault-scen...,Peinture opaque Blanc Glacier/toit noir,SCENIC,52.000000,https://image.promoneuve.fr/648x365/2528852566...
856,VOLKSWAGEN,32.900,VOLKSWAGEN GOLF 7\nVII (2) 1.4 TSI 204 HYBRIDE...,VOLKSWAGEN GOLF 7 VII (2) 1.4 TSI 204 HYBRIDE ...,https://www.promoneuve.fr/annonce/volkswagen-g...,Gris Tungsten métallisé,GOLF,40.000000,https://photoref.carboatservices.fr/Vk9MS1NXQU...
857,NISSAN,25.155,NISSAN QASHQAI 2\nII (2) 1.5 DCI 115 BUSINESS ...,NISSAN QASHQAI 2 II (2) 1.5 DCI 115 BUSINESS E...,https://www.promoneuve.fr/annonce/nissan-qashq...,Gris Perle métallisé,QASHQAI,55.000000,https://photoref.carboatservices.fr/TklTU0FO/U...
858,ALFA,43.890,ALFA ROMEO GIULIA 2\nII 2.2 190 SPRINT AT8\nGr...,ALFA ROMEO GIULIA 2 II 2.2 190 SPRINT AT8 neuv...,https://www.promoneuve.fr/annonce/alfa-romeo-g...,Gris Stromboli métallisé,ROMEO,52.000000,https://image.promoneuve.fr/648x365/5588908499...

In [43]:
dataPair = df[["car_brand","car_model"]]
l = {}
for brand, model in dataPair.values:
    if brand not in l:
        l[brand] = [model]
    if model not in l[brand]: 
        l[brand].append(model)
    
l

{'MERCEDES': ['CLASSE'],
 'RENAULT': ['ZOE',
  'KOLEOS',
  'MEGANE',
  'TWINGO',
  'TALISMAN',
  'KADJAR',
  'SCENIC',
  'ESPACE',
  'GRAND',
  'CAPTUR',
  'KANGOO',
  'MASTER',
  'TRAFIC',
  'CLIO'],
 'HONDA': ['CR-V', 'E', 'CIVIC'],
 'SEAT': ['MII', 'TARRACO', 'LEON', 'ATECA'],
 'FIAT': ['500', 'TIPO', 'DOBLO', 'TALENTO', 'DUCATO', 'FIORINO'],
 'VOLKSWAGEN': ['UP!',
  'GOLF',
  'PASSAT',
  'ARTEON',
  'POLO',
  'CRAFTER',
  'E-CRAFTER',
  'TIGUAN',
  'ID.3'],
 'OPEL': ['CORSA',
  'ASTRA',
  'GRANDLAND',
  'CROSSLAND',
  'VIVARO',
  'COMBO',
  'MOVANO',
  'MOKKA',
  'INSIGNIA'],
 'SMART': ['FORTWO', 'FORFOUR'],
 'BMW': ['SERIE', 'X2'],
 'NISSAN': ['LEAF',
  'E-NV200',
  'MICRA',
  'NV300',
  'NV400',
  'NV250',
  'QASHQAI',
  'NAVARA'],
 'ALFA': ['ROMEO'],
 'JEEP': ['RENEGADE'],
 'HYUNDAI': ['IONIQ', 'I30', 'KONA'],
 'MAZDA': ['MX-30', 'MX5', '6', '3'],
 'VOLVO': ['V40', 'S60', 'S90'],
 'SKODA': ['SUPERB', 'FABIA', 'SCALA', 'OCTAVIA'],
 'CITROEN': ['C-ZERO', 'JUMPER', 'BERLINGO', 'C4', 'E-C4', 'C3'],
 'MITSUBISHI': ['OUTLANDER', 'SPACE'],
 'AUDI': ['A3', 'A6', 'A5', 'E-TRON', 'A4'],
 'FORD': ['TRANSIT', 'TOURNEO', 'FIESTA', 'MONDEO', 'ECOSPORT'],
 'TOYOTA': ['PROACE', 'COROLLA', 'AYGO'],
 'PEUGEOT': ['BOXER', 'PARTNER', '208', '3008', '308', '508'],
 'SUZUKI': ['SWACE'],
 'KIA': ['E-NIRO', 'SPORTAGE', 'E-SOUL'],
 'LEXUS': ['IS'],
 'DS': ['DS']}

In [31]:
df.car_color = df.car_color.str.lower()

colors = ["bleu","blanc","noir","pink","rose","gris","rouge","jaune","vert","red","blue","yellow","gold","silver","green","white","black","grey","gray","ceramic","argent","doré"]
def replaceColor(x):
  for color in colors:
    if color in x:
      if color == "red":
        return "rouge"
      elif color == "blue":
        return "bleu"
      elif color == "white":
        return "blanc"
      elif color == "black":
        return "noir"
      elif color == "grey" or color == "gray":
        return "gris"
      elif color == "silver":
        return "argent"
      elif color == "gold":
        return "doré"
      return color
      

df.car_color = df.car_color.apply(lambda x: replaceColor(x))

df.car_color.fillna("noir",inplace=True)

In [32]:
rawData = df[["car_brand","ad_price","car_color","car_model","reservoir"]]

In [33]:
cleaned_data = pd.get_dummies(rawData)

In [34]:
price = cleaned_data["ad_price"]
data = cleaned_data.drop("ad_price",1)

In [35]:
price

0      69.900
1      17.790
2      13.990
3      15.590
4      29.900
        ...
854    24.260
855    23.290
856    32.900
857    25.155
858    43.890
Name: ad_price, Length: 859, dtype: float64

In [36]:
data.iloc[:,37:]

,car_color_vert,car_model_208,car_model_3,car_model_3008,car_model_308,car_model_500,car_model_508,car_model_6,car_model_A3,car_model_A4,...,car_model_TIPO,car_model_TOURNEO,car_model_TRAFIC,car_model_TRANSIT,car_model_TWINGO,car_model_UP!,car_model_V40,car_model_VIVARO,car_model_X2,car_model_ZOE
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
855,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
857,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
858,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
import pickle

description = data.describe()
l = description.columns.to_list()

brands = [e.replace("car_brand_","") for e in l[1:l.index("car_brand_VOLVO")+1]]
colors = [e.replace("car_color_","") for e in l[l.index("car_color_argent"):l.index("car_color_vert")+1]]
models = [e.replace("car_model_","") for e in l[l.index("car_model_208"):]]

pickle.dump(brands,open("brands.pickle","wb"))
pickle.dump(colors,open("colors.pickle","wb"))
pickle.dump(models,open("models.pickle","wb"))

print(models)
print(brands)
print(colors)

['208', '3', '3008', '308', '500', '508', '6', 'A3', 'A4', 'A5', 'A6', 'ARTEON', 'ASTRA', 'ATECA', 'AYGO', 'BERLINGO', 'BOXER', 'C-ZERO', 'C3', 'C4', 'CAPTUR', 'CIVIC', 'CLASSE', 'CLIO', 'COMBO', 'COROLLA', 'CORSA', 'CR-V', 'CRAFTER', 'CROSSLAND', 'DOBLO', 'DS', 'DUCATO', 'E', 'E-C4', 'E-CRAFTER', 'E-NIRO', 'E-NV200', 'E-SOUL', 'E-TRON', 'ECOSPORT', 'ESPACE', 'FABIA', 'FIESTA', 'FIORINO', 'FORFOUR', 'FORTWO', 'GOLF', 'GRAND', 'GRANDLAND', 'I30', 'ID.3', 'INSIGNIA', 'IONIQ', 'IS', 'JUMPER', 'KADJAR', 'KANGOO', 'KOLEOS', 'KONA', 'LEAF', 'LEON', 'MASTER', 'MEGANE', 'MICRA', 'MII', 'MOKKA', 'MONDEO', 'MOVANO', 'MX-30', 'MX5', 'NAVARA', 'NV250', 'NV300', 'NV400', 'OCTAVIA', 'OUTLANDER', 'PARTNER', 'PASSAT', 'POLO', 'PROACE', 'QASHQAI', 'RENEGADE', 'ROMEO', 'S60', 'S90', 'SCALA', 'SCENIC', 'SERIE', 'SPACE', 'SPORTAGE', 'SUPERB', 'SWACE', 'TALENTO', 'TALISMAN', 'TARRACO', 'TIGUAN', 'TIPO', 'TOURNEO', 'TRAFIC', 'TRANSIT', 'TWINGO', 'UP!', 'V40', 'VIVARO', 'X2', 'ZOE']
['ALFA', 'AUDI', 'BMW', 'CITROEN', 'DS', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JEEP', 'KIA', 'LEXUS', 'MAZDA', 'MERCEDES', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SUZUKI', 'TOYOTA', 'VOLKSWAGEN', 'VOLVO']
['argent', 'blanc', 'bleu', 'ceramic', 'green', 'gris', 'jaune', 'noir', 'pink', 'rouge', 'vert']

# Modeling

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lr = LinearRegression(normalize=True)

In [19]:
model = lr.fit(data,price)

In [20]:
model.predict([data.iloc[78]])

array([20.5])

In [21]:
price.iloc[78]

21.98

In [22]:
model.score(data,price)

0.7759351614370381

In [23]:
data.iloc[78].shape

(145,)

In [24]:
filename = "prediction_model.pickle"

In [25]:
pickle.dump(model,open(filename,"wb"))